<section class="bg">
    <div class="row text-center p-5 justify-content-center">


        <div class="col-lg-6 ">
            <div class="card shadow p-3">
                <div class=" text-center my-4">
                    <h3>Login Here</h3>
                </div>
                <form #ld="ngForm" class="p-4">
                    <input type="email" id="defaultLogdangerrmEmail" class="form-control mb-3" placeholder="E-mail"
                        name="Email" ngModel>
                    <input type="password" id="defaultLogdangerrmPassword" class="form-control mb-5"
                        placeholder="Password" name="Password" ngModel>
                    <div class="d-grid gap-2 col-6 mx-auto mb-3">
                        <button (click)="login(ld)" class="btn " type="submit">Login</button>
                    </div>
                    <p>Not a member?
                        <a class="my-5 text-info" routerLink="/Register" routerLinkActive="active">Register</a>
                    </p>
                </form>
            </div>
        </div>
    </div>

</section>